doctype 5
html(lang="en")
  head
    link(rel='stylesheet', href='/public/app.css')
    link(rel='stylesheet', href='/public/bootstrap/css/bootstrap.css')
    script(type='text/javascript', src='/public/jquery.js')
    script(type='text/javascript', src='/public/bootstrap/js/bootstrap.js')
    title QWE
  body
    .navbar
      .navbar-inner
        ul.nav
          li.active
            a(href="/nodes") Nodes
          li
            a(href="/packages") Packages
          li
            a(href="/users") Users